<!-- 
<div class="heroes-menu">
  <a *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">
    {{hero.heroes}}
  </a>
</div> -->

<section class="text-gray-600 body-font">
  <div class="container mx-auto" >
    <div class="flex flex-wrap -m-4 text-center" >
      <div class="p-4 md:w-1/3 sm:w-1/2 w-full" *ngFor="let hero of heroes">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <a routerLink="/detail/{{hero.id}}">
            <img class="text-blue-500 w-12 h-12 mb-3 inline-block rounded-full" src="https://static.vecteezy.com/system/resources/thumbnails/024/766/962/small/silver-gradient-social-media-chatting-online-blank-profile-picture-head-and-body-icon-people-standing-icon-free-vector.jpg" alt="Rounded avatar">
          <h2 class="title-font font-medium text-2xl text-gray-900"> {{hero.heroes}}</h2>
          </a>
          
        </div>
      </div>
    </div>
  </div>
</section>



