<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.heroes}}
    </a>
  </li>
</ul>

<div>
  <label for="new-hero">Hero name: </label>
  <input style="border: solid 1px black;" id="new-hero" #heroName 
         (keyup.enter)="addHero(heroName.value); heroName.value=''" />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="addHero(heroName.value); heroName.value=''">

    Add hero
  </button>
</div>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>